html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
}

#banner {
  width: 100%;
  height: auto;
  border-radius: 0px;
}

nav {
  text-align: center;
}



div {
  margin-left: auto;
  margin-right: auto;
}

#download {
  border: 3px solid #000000;
  padding: 20px 10px;
  width: 400px;
  background: #8c05FF;
  color: #00FFFF;
}

#explore {
  text-align: left;
  border: 3px solid #000000;
  background: #8c05FF;
  padding: 10px;
  width: 400px;
}

#cyan {
  text-decoration: none;
  color: #00FFFF;
}

h1 {
  color: #8c52FF;
}

h2 {
  color: #0000CC;
}

#left {
  display: inline-block;
}
#right {
  display: inline-block;
}

main {
    padding: 20px;
    background: #FFFFFF;
    min-height: 500px;
}

input {
  width: 200px;
}
#input2 {
  width: 400px;
  height: 200px;
}

#needed {color: #FF0000;}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}